@import "../../theme";

.sw-button {
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.sw-button--primary {
  color: white;
  background-color: $primary-color;
}
.sw-button--secondary {
  color: #FFF;
  background-color: $secondary-color;
}
.sw-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.sw-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.sw-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
